

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIARY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <!-- Replace with the new theme CSS file if needed, or add additional CSS files here -->
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="https://kit.fontawesome.com/ce4db69bfc.js" crossorigin="anonymous"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
        darkMode: "class",
        }
    </script>
    <style>
        /* Include additional styles here, potentially replacing or merging with the new theme's styles */
    </style>

</head>

<body class=" bg-black dark:bg-white transition-bg ">
<div class="jumbo absolute opacity-50">
    
</div>
<div class="app">
    {% if user & user.is_authenticated %}
    <div class="sidebar">
        <!-- User Information -->
        
        <div class="user">
            <img src="https://lh3.googleusercontent.com/a/ACg8ocI0mgusM3YWeeqAF9kz4WgugLupUXsmozMRrcIJB4y1ZnM=s83-c-mo" alt="user photo" class="user-photo">
            <div class="user-name">{{ user.name }}</div>
            <div class="user-mail">{{ user.email }}</div>
        </div>
        

        <!-- Sidebar Menu (dynamic based on user authentication) -->
        
        <div class="sidebar-menu">
            {% if user.is_authenticated %}
                <a href="/home" class="sidebar-menu__link {% block home_active %}{% endblock %}">Home</a>
                <a href="/profile" class="sidebar-menu__link {% block profile_active %}{% endblock %}">Profile</a>
                <a href="/logout" class="sidebar-menu__link">Logout</a>
            {% else %}
                <a href="/login" class="sidebar-menu__link">Login</a>
                <a href="/signup" class="sidebar-menu__link">Sign Up</a>
            {% endif %}
        </div>
        
        <!-- Additional Components -->
        <!-- <label class="toggle">
            <input type="checkbox">
            <span class="slider"></span>
        </label> -->
    </div>
    {% endif %}
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</div>


</body>

</html>
