{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="main-header__title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form id="authForm" method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input class="checkbox" type="checkbox" name="remember" checked>
                    Remember me
                </label>
            </div>
            <button type="submit" class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
        <button id="signUpBtn" class="button is-block is-primary is-large is-fullwidth mt-4">Sign Up</button>
    </div>
</div>
<script>
    document.getElementById('signUpBtn').addEventListener('click', function() {
        var form = document.getElementById('authForm');
        form.action = '/signup';
        form.submit();
    });
</script>
{% endblock %}
