{% extends "base.html" %}
{% block profile_active %}active{% endblock %}

{% block content %}
<style>
    .history-container {
        margin-top: 20px;
    }
    .record img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 15px;
    }
</style>

<h1 class="main-header__title">
  Welcome, {{ user.name }} !
</h1>

<div class="history-container">
    
    <h2 class="main-header__subtitle">Your History</h2>
    <div class="main-content">
        {% for record in history %}
        <div class="card card-{{ loop.index0 + 1}}">
            <img class="card-img " src="{{ record.generated_image }}" alt="Generated Image">
            <div class="record-info">
                <div class="record-time">{{ record.date_time.strftime("%Y-%m-%d %H:%M") }}</div>
                <i class="close-btn fa fa-times"></i>
                <div class="card-controls">
                    <a class="spotify-button" onclick="playOnSpotify('{{ record.song_snippet }}')" target="_blank">
                        <i class="fa-brands fa-spotify"></i> Play on Spotify
                    </a>
                    <a href="{{ url_for('main.delete_history', history_id=record.id) }}" class="delete-btn">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
                
            </div>
        </div>
    {% endfor %}

    </div>
    
</div>
<script>
    const cards = document.querySelectorAll(".card");
    const mainContent = document.querySelector(".main-content");

    cards.forEach((card) => {
        card.addEventListener("click", (event) => {
            const closeButton = event.target.closest(".close-btn");
            if (closeButton) return; // Prevent card toggle when clicking on the close button
            
            document.startViewTransition(() => {
                if (!card.classList.contains('active')) {
                    mainContent.classList.add("expanded");
                    card.classList.add("active");
                }
            });
        });
    });

    // Add event listener for the close button
    document.addEventListener("click", (event) => {
        const closeButton = event.target.closest(".close-btn");
        if (closeButton) {
            document.startViewTransition(() => {
                const card = closeButton.closest(".card");
                if (card) {
                    card.classList.remove("active");
                    mainContent.classList.remove("expanded");
                }
            });
        }
    });

    function playOnSpotify(song) {
      fetch("/playsong", {
          method: "POST",
          body: JSON.stringify({ song: song }),
          headers: {
              "Content-type": "application/json; charset=UTF-8"
          }
      })
      .then((res) => {
          if (!res.ok) {
              throw new Error(`Server responded with status: ${res.status}`);
          }
          return res.json();
      })
      .then((data) => {
          if (data.url) {
              // Open the song URL in a new tab
              window.open(data.url, '_blank');
          } else {
              console.error("Song URL not found");
          }
      })
      .catch((error) => {
          console.error("Error:", error);
      });
  }

</script>
{% endblock %}
