Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LaunchTemplate:
        LaunchTemplateName: "mindpalette-launch-template"
        Version: "1"
      MinSize: "1"
      MaxSize: "4"
      DesiredCapacity: "1"
      Tags:
        - Key: Name
          Value: mindpalette-env
          PropagateAtLaunch: true
